<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contato</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body background="../static/img/fundo2.png">
  <header>
    <img src="../static/img/logo.png" alt="logo" id="logo">
    <ul class="menu">
        <a href="/"><li>Home</li></a>
        <li>|</li>
        <a href="/sobre"><li>Quem somos</li></a>
        <li>|</li>
        <a href="/contato"><li>Contato</li></a>
    </ul>
  </header>
  <section>
    <h1>Entre em contato</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita nemo eius</p>
    <hr>
    <form>
      <label>Seu e-mail: </label><br>
      <input type="text"><br>
      <label>Assunto: </label><br>
      <input type="text"><br>
      <label>Descrição: </label><br>
      <textarea></textarea><br>
      <input type="submit" value="Enviar">
      <h5>Todos os direitos reservados</h5>
    </form>
  </section>
</body>
</html>